@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base{
    html{
        font-family:"Poppins","sans-serif"
    }
}
body{
    background-color: white;
    overflow-x: hidden;
}

@layer components{
    .input-box{
        @apply w-full text-sm bg-cyan-600/5  rounded px-5 py-3 mb-4 border-2 outline-none
    }
    .btn-primary{
        @apply w-full text-sm font-medium text-white bg-cyan-500 shadow-lg shadow-cyan-200/50 p-[10px] rounded-full my-1 hover:bg-cyan-300 hover:text-primary
    }
    .btn-light{
        @apply bg-cyan-50 text-primary shadow-cyan-100/0 border border-cyan-500 hover:bg-primary hover:text-white
    }
    .login-ui-box{
        @apply w-80 h-[450px] rounded-full bg-primary absolute rotate-45
    }
}